:root {
    --main-bg-color: #fafaee;
    --main-text-color: #222;
    --active-bg-color: #E8C150;
}

body {
    background-color: var(--main-bg-color);
    font-family: Inter,Roboto, sans-serif;
}

img {
    width: 64px;
    object-fit: cover;
    /*width: 128px;*/
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
}