img {
    width: 64px;
    object-fit: cover;
    /*width: 128px;*/
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
}